<div class="row">
  <div class="col-md-9 col-md-push-3">
    <h1 class="page-header">
      Pairings
    </h1>
    <button type="button" ng-click="generatePairings()" class="btn btn-primary">Generate Pairings</button>
    <p></p>
    <ul>
      <li ng-repeat="pairing in pairings">{{pairing[0]}} vs. {{pairing[1]}}</li>
      <li ng-if="!pairings.length">No pairings so far ;-(</li>
      <li ng-if="error">Could not generate pairings. Make sure you have an even number of players.</li>
    </ul>
  </div>
</div>
