<div class="alert alert-danger" ng-repeat="error in errors">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="dismiss($index)">×</button>
  <p>{{error.message}}</p>
</div>
