<div class="row">
  <div class="col-md-9 col-md-push-3">
    <h1 class="page-header">Edit player</h1>
    <p>Edit player informations..</p>
    <form novalidate ng-submit="save(form)" ng-controller="PlayersEditCtrl" role="form" name="form">

      <div class="form-group">
        <label for="player.name">Name</label>
        <input ng-model="player.name" required type="name" class="form-control" id="player.name" name="name">
        <span class="help-block">Please enter a player name</span>
      </div>

      <div class="form-group">
        <label for="player.email">E-Mail</label>
        <input ng-model="player.email" required type="email" class="form-control" id="player.email" name="email">
        <span class="help-block">Please enter a valid E-Mail address</span>
      </div>

      <div class="form-group">
        <label for="player.gender">Gender</label>
        <select required ng-model="player.gender" ng-options="gender as gender | capitalize for gender in genders" class="form-control">
        </select>
        <span class="help-block">Please choose a gender</span>
      </div>

      <div class="form-actions">
        <button ui-sref="players.list" type="button" class="btn btn-default">Back to list</button>
        <button ng-disabled="!form.$valid" type="submit" id="submit" class="btn btn-primary">Save</button>
      </div>

    </form>
  </div>
</div>
