<div class="row" ng-controller="PlayersCreateCtrl">
  <div class="col-md-9 col-md-push-3">
    <h1 class="page-header">Create new player</h1>
    <p>Insert player informations..</p>
    <form novalidate ng-submit="addPlayer()" role="form" name="form">

      <div class="form-group" ng-class="{'has-feedback has-error': form.$submitted && form.name.$invalid}">
        <label for="player.name">Name</label>
        <input ng-model="player.name" required type="text" class="form-control" id="player.name" name="name">
        <span ng-show="form.$submitted && form.name.$invalid" class="form-control-feedback">
          <span class="fa fa-times"></span>
        </span>
        <span class="help-block">Please enter a player name</span>
      </div>

      <div class="form-group" ng-class="{'has-feedback has-error': form.$submitted && form.email.$invalid}">
        <label for="player.email">E-Mail</label>
        <input ng-model="player.email" required type="email" class="form-control" id="player.email" name="email">
        <span ng-show="form.$submitted && form.email.$invalid" class="form-control-feedback">
          <span class="fa fa-times"></span>
        </span>
        <span class="help-block">Please enter a valid E-Mail address</span>
      </div>

      <div class="form-group has-feedback">
        <label for="player.gender">Gender</label>
        <select required ng-model="player.gender" ng-options="gender as gender | capitalize for gender in genders" class="form-control"></select>
        <span class="help-block">Please choose a gender</span>
      </div>

      <div class="form-actions">
        <button ui-sref="players.list" type="button" class="btn btn-default">Back to list</button>
        <button type="submit" class="btn btn-primary">Add player</button>
      </div>

    </form>
  </div>
</div>
