<div class="row">
  <div class="col-md-9 col-md-push-3">
    <h1 class="page-header">Players</h1>
    <table class="table table-hover" ng-controller="PlayersListCtrl">
      <caption>
        Greatest players of all time.
        <button ui-sref="players.create" type="button" class="btn btn-primary pull-right">Create new player</button>
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Gender</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-if="players.length === 0">
        <tr>
          <td>No players yet ;-(</td>
        </tr>
      </tbody>
      <tbody ng-if="players.length !== 0">
        <tr ng-repeat="player in players track by $index">
          <td>{{player.name}}</td>
          <td>{{player.email}}</td>
          <td>{{player.gender | capitalize}}</td>
          <!-- player actions -->
          <td>
            <button ui-sref="players.edit({playerId: player.id})" type="button" class="btn btn-sm btn-default">
              <span class="fa fa-pencil"></span>
              <span>Edit</span>
            </button>
            <button ng-click="remove($index)" type="button" class="btn btn-sm btn-default">
              <span class="fa fa-trash-o"></span>
              <span>Remove</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
