
.table > tbody > tr > td {
  vertical-align: middle;
}

.errors-container {
  width: 80%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 99999;
  .alert {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .errors-container {
    top: 20px;
    width: 60%;
  }
}
