<div class="container-fluid" ng-controller="NavbarCtrl">
  <div class="navbar-header">
    <!-- Branding -->
    <a class="navbar-brand" href="/">
      <span class="logo">
        <img src="/vendor/oblique-ui/images/logo.png" alt="Logo of the Swiss Confederation" />
      </span>
      <span class="app-title" data-version="1.2.0-RC8">
        <span class="fa fa-trophy"></span>
        Tourney
      </span>
    </a>
    <ul class="nav navbar-nav navbar-toggle navbar-controls">
      <li>
        <a role="button" data-toggle="collapse" data-target=".navbar-collapse" tabindex="0">
          <span class="sr-only">Toggle navigation</span>
          <span class="fa fa-bars"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
