<div class="row">
  <div class="col-md-9 col-md-push-3" ng-controller="HomeCtrl">
    <h1 class="page-header">
      Welcome!
    </h1>
    <p>Tourney is a simple tournament manager.</p>

    <div ng-if="!hasPlayers">
      <p>Bevore you can start a tournament, enter some players</p>
      <button ui-sref="players.create" type="button" class="btn btn-primary btn-lg">Create Players</button>
    </div>

    <div ng-if="hasPlayers">
      <button ui-sref="pairings" type="button" class="btn btn-primary btn-lg">Start Tournament</button>
    </div>
  </div>
</div>
