<div class="row">
  <div class="col-xs-4 col-sm-3 col-md-1">
    <p>&copy;&nbsp;2015</p>
  </div>
  <div class="col-xs-8 col-sm-6 col-md-7">
    <p>Built with
      <span class="fa fa-heart-o" title="Love"></span>&nbsp;and
      <a href="http://vmjeap10i04.bfi.admin.ch/eui/oblique-ui/" title="The front-end framework for the EAP stack.">ObliqueUI</a>
      <span class="version">(v1.2.0-RC8)</span>
    </p>
    <p>Federal Office of Information Technology, Systems and Telecommunication FOITT</p>
  </div>
  <div class="col-xs-8 col-xs-push-4 col-sm-3 col-sm-push-0 col-md-4">
    <ul class="list-inline">
      <li>
        <a href="http://www.disclaimer.admin.ch" title="Terms and conditions" target="_blank" class="link">Legal</a>
      </li>
      <li>
        <a href="mailto:info@bit.admin.ch" title="This link will open your email client in order to send an email to info@bit.admin.ch" class="link">Contact</a>
      </li>
    </ul>
  </div>
</div>
