<div id="navigation">
  <div class="navbar-collapse collapse">
    <h2 class="sr-only">Global navigation</h2>
    <ul id="nav-global" class="nav navbar-nav navbar-primary navbar-fw" role="menu">
      <li ui-sref-active="active" role="menuitem">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active" role="menuitem">
        <a ui-sref="players.list">Players</a>
      </li>
      <li ui-sref-active="active" role="menuitem">
        <a ui-sref="pairings">Pairings</a>
      </li>
    </ul>
  </div>
</div>
